@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #5c5bec;
  --background-main: #090015;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(-background-main);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(-background-main);
}


body {
  background-color: var(--background-main);
  font-family: sans-serif;
}

span, a, h4 {
  color: #eaeaea;
}

@keyframes curtainKeyframe {
  0% { 
    background-color: var(--background-main);
    opacity: 1;
    z-index: 4;
}     
50% {
    background-color: var(--background-main);
    opacity: 1;
    z-index: 4;
}
100% {
    opacity: 0;  
    z-index: -2;
}
}

.background-wrapper, .curtain-div{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.curtain-div {
  animation: curtainKeyframe 5s ease forwards;
}

@keyframes curtain-star-keyframe {
  0% { 
    background-color: #2f2f2f;
} 
100% {
    display: none;
}
}

.star, .curtain-star {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; 
  background-color: #2f2f2f;
}

@keyframes curtainStar {
  0% { 
      background-color: #2f2f2f;
  } 
  80% {
      opacity: 0;
  }
}

.curtain-star {
  animation: curtainStar 5s ease forwards;
}

.star-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@keyframes backgroundRocketDiv {
  to { 
    transform: translateY(90vh);
  } 
}

.rocket-div {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  margin-top: 5vh;
  left: 0;
  animation: backgroundRocketDiv 16s alternate infinite ease-in-out;
}

@keyframes backgroundRocket {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(100vw);
  }
}

.background-rocket {
  width: 100%;
  height: 100%;
  animation: backgroundRocket 7s alternate forwards infinite ease-in-out;
}

@keyframes CurtainRocketDiv {
  to { 
    transform: translateY(60px);
  }
}

.curtain-rocket-div {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  margin-top: calc(50vh - 100px);
  left: 0;
  animation: CurtainRocketDiv 0.5s alternate infinite ease-in-out;
}

@keyframes CurtainRocket {
  0% {
    transform: translateX(-20vw);
  }
  30%, 50% {
    transform: translateX(calc(50vw - 75px))
  }
  100% {
    transform: translateX(120vw);
  }
}

.curtain-rocket {
  width: 100%;
  height: 100%;
  animation: CurtainRocket 4s forwards ease-in-out;
}

.header-wrapper {
  width: 100vw;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  background-color: #090015;
  z-index: 3;
}

.header {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 100%;
  background-color: #090015;
  justify-content: space-between;
}

.nav {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav span {
  font-size: 12px;
  text-decoration: none;
  color: #eaeaea;
  font-weight: 800;
  font-size: 26px;
  letter-spacing: -1px;
  margin-top: -3px;
  color: var(--accent-color);
  cursor: pointer;
  transition: 0.3s ease all;
}

.nav span:hover{
  color: #7070e9;
}

a {
  text-decoration: none;
  color: #eaeaea;
  font-weight: 700;
}

.links{
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage-wrapper {
  width: 100vw;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}

.home-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.translucent-container {
  width: 1200px;
  height: 500px;
  border-radius: 15px; 
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.translucent-container .texts {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 40px;
  margin-top: -20px;
}

.main-title, .main-title-first {
  font-size: 46px;
  color: #d8d8d8;
  font-weight: 600;
  font-family: "Poppins";
}

.main-title-first {
  font-size: 57px;
  color: #ffffff;
}

.main-subtitle {
  color: #868686;
  margin-top: 20px;
}

.translucent-container .redirect-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  padding: 20px;
  border-radius: 7px;
  color: white;
  background-color: var(--accent-color);
  margin-top: 20px;
  transition: 0.4s ease all;
  cursor: pointer;
}

.translucent-container .redirect-button:hover{
  transform: scale(1.1);
  background-color: #7070e9;
}

.translucent-container .cards {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.translucent-container .individual-card {
  backdrop-filter: blur(12px); 
  background-color: rgba(18, 6, 34, 0.89); 
  width: 80%;
  height: 60%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  z-index: 2;
  margin-top: 50px;
}

.individual-card .title {
  font-size: 28px;
  color: var(--accent-color);
  font-weight: 800;
}

.individual-card .subtitle {
  font-size: 14px;
  color: #868686;
  margin-top: 10px;
  margin-left: 5px;
}

.individual-card .links {
  height: calc(100% - 60px);
  position: absolute;
  width: 10%;
  right: 0;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.individual-card .spotify-embed {
  margin-top: 30px;
  margin-left: -5px;
}

.links .icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(3465%) hue-rotate(181deg) brightness(97%) contrast(72%);
  cursor: pointer;
  width: 100;
  transition: 0.3s ease all;
  z-index: 2;
}

.links .icon:hover{
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(522%) hue-rotate(211deg) brightness(108%) contrast(84%);
}

.translucent-container  .individual-card-2 {
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(12px); 
  background-color: rgba(33, 17, 54, 0.3); 
  width: 50%;
  height: 70%;
  margin-right: -20px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-;
  justify-content: space-around;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 1;
}

.individual-card-2 .title {
  font-size: 23px;
  color: var(--accent-color);
  font-weight: 800;
}

.individual-card-2 .links {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.register-wrapper, .login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register, .login {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 12px;
  backdrop-filter: blur(12px); 
  background-color: rgba(33, 17, 54, 0.3); 
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.login {
  height: 400px;
  width: 356px;
}

.input-fields-wrapper {
  height: 20%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 25px;
  justify-content: center;
}

.input-fields-wrapper input {
  width: 100%;
  height: 36px;
  margin-top: 10px;
  background-color: rgba(33, 17, 54, 0.0); 
  border-radius: none;
  padding: 10px;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #b8b8b8;
  position: relative;
  outline: none;
}

.button-error-div {
  height: 15%;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  justify-content: space-between;
}

.register button, .login button {
  width: 40%;
  margin-top: 25px;
  margin-bottom: 20px;
  height: 36px;
  background-color:var(--accent-color);
  border-radius: 5px;
  border: none;
  color: #eaeaea;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease all;
}

.register button:hover, .login button:hover{
  transform: scale(1.1);
  background-color: #7070e9;
}

.error-form {
  width: 50%;
  align-items: center;
  text-align: center;
  margin-top: 8px;
  color: #ffffff;
}

.form-title {
  font-size: 27px;
  color: #d8d8d8;
  font-weight: 800;
  font-family: "Poppins";
  width: 100%;
}

.input-fields-wrapper span{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.other-option-login {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.other-option-login a {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.search-bar-div {
  width: 40%;
  height: 50px;
}

.search-bar-div input {
  width: 100%;
  height: 36px;
  margin-top: 10px;
  background-color: rgba(33, 17, 54, 0.0); 
  border-radius: none;
  padding: 10px;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #b8b8b8;
  position: relative;
  outline: none;
}

.header-about {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-about a {
  font-weight: 600;
  background-color: #5c5bec;
  padding: 6px 15px;
  border-radius: 4px;
  margin-top: 3px;
  border: 2px #5c5bec solid;
  transition: 0.3s ease all;
}

.header-about a:hover {
  background-color: #ffffff;
  color: #5c5bec
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.footer span, .footer a {
  color: #666666;
}

.manage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.projects-wrapper {
  width: 1000px;
  margin-top: 50px;
}

.projects-title {
  font-size: 36px;
  font-weight: 500;
}

.projects {
  width:  1000px;
  margin: 50px 0 10vh 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: calc(100% / 3 - 800px / 3);
  grid-row-gap: 50px; 
  height: fit-content;
}

.preview-card-background {
  width: 300px;
  height: 270px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 3px 0px, rgba(200, 200, 200, 0.15) 0px 0px 0px 1px;
}

.preview-card:hover{
  transform: scale(1.03) rotate(0.000turn);
}

.preview-card {
  height: 70%;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  transition: 0.7s ease all;
}

.manage-card-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
}

.container {
  width: 1000px;
  background-color: white;
}

.card-div, .edit-card-div {
  display: flex;
  width: 700px;
  height: 400px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.5s ease all;
  
}

.card-wrapper{
  overflow: hidden;

}

.layout-styled {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  transition: 0.5s ease all;
}

.card-title, .card-title-input {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 32px;
  width: 400px;
}

.card-subtitle, .card-subtitle-input {
  margin-bottom: 20px;
  font-weight: 600;
  width: 400px;
}

.card-description, .card-description-input {
  height: 100px;
  width: 400px;
  flex-wrap: wrap;
  width: 400px;
  resize: none;
}


.card-title-input, .card-subtitle-input {
  border: 0px;
  outline: none;
  transition: 0.4s ease all;
  margin-bottom: 15px;
  padding: 0px 5px;
}

.card-description-input {
  border: 0px;
  outline: none;
  transition: 0.4s ease all;
  margin-bottom: 15px;
  padding: 2px 5px;
}

.interest-wrapper { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex;
  height: fit-content;
  margin-top: 5px;
  width: 400px;
  flex-wrap: wrap;
}

.interest-span {
  height: 30px;
  margin: 2px 5px; 
  padding: 3px 7px; 
  border-radius: 5px;
  display: flex; 
  width: fit-content;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.card-links {
  position: absolute; 
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 20px;
  height: 150px;
  width: 50px;
  display: flex;
  align-items: center;
  flex-flow: column-reverse wrap-reverse;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.gif-img {
  width: 200px;
  margin-top: 20px;
  max-height: 200px;
}

.gif-placeholder, .song-placeholder {
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  position: relative;
  transition: 0.4s ease all;
}

.gif-placeholder {
  width: 200px;
  margin-top: 20px;
  height: 150px;
}

.gif-placeholder span {
  position: absolute;
  top: 0;
  margin-top: 20px;
}

.song-iframe, .song-placeholder {
  height: 80px; 
  width: 400px;
  margin: 0px;
}

.song-iframe{
  border-radius: 12px;
  border: none;
}

.gif-placeholder .icon,  .song-placeholder .icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(3465%) hue-rotate(181deg) brightness(97%) contrast(72%);
}

.translucent-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0,0, 0,0.8);
  overflow: none;
}

.showcases {
  position: absolute;
  width: 500px;
  height: 40px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  margin-top: calc(50vh - 200px - 60px);
}

.palette-picker, .style-picker {
  position: relative;
  background-color: #ffffff;
  width: 180px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: 0.2s ease all;
}

.palette-picker:hover, .style-picker:hover{
  transform: rotate(0.005turn);

}

.palette-picker span, .style-picker span {
  font-size: 17px;
  font-weight: 700;
}

.palette-picker div {
  width: 25px;
  height: 25px;
}

.palette-showcase, .songs-showcase {
  position: absolute;
  z-index: 4;
  width: 800px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 12px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  justify-content: flex-start;
}


.palette-showcase span, .songs-showcase span {
  font-size: 32px;
  color: #1c1c1c;
}

.palettes-area, .songs-area {
  width: 100%;
  height: 80%;
  margin-top: 30px;
  overflow-y: scroll;
}

.palette-item {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  transition: 0.3s ease all;
  cursor: pointer;
}

.palette-item:hover{
  background-color: #c5c5c5;
}

.palette-item span {
  font-size: 24px;
}

.parallelogram {
  width: 40px;
  height: 70px;
  transform: skew(30deg);
  background-color: #c1c1c1;
  border: 0.1px solid black;
}

.border-selector {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.border-selector:hover{
  background-color: #efefef;
}

.border-overflowing {
  width: 55px;
  height: 70px;
  padding: 25px 10px;
  overflow: hidden;
}

.fonts-area {
  width: 100%;
  height: 150px;
  margin-top: 30px;
  overflow-y: scroll;
}

.font-item {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  transition: 0.3s ease all;
  cursor: pointer;
}

.font-item:hover{
  background-color: #c5c5c5;
}

.font-item span {
  font-size: 24px;
}

.style-showcase {
  position: absolute;
  z-index: 4;
  width: 800px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 12px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  justify-content: space-around;
}

.style-wrappers {
  height: fit-content;
  padding: 10px;
  width: 100%;
}

.link-chooser {
  position: absolute;
  z-index: 4;
  width: 850px;
  height: 250px;
  border-radius: 12px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px;
  justify-content: flex-start;
}

.hovering-dropdown {
  width: 200px;
  background-color: green;
  height: fit-content;
  background-color: grey;
  max-height: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 6px;
  cursor: pointer;
}

.link-url {
  width: 250px;
  height: 50px;
  padding: 0px 5px;
}

.links-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
  align-items: flex-start;
  overflow: visible;
  height: 50px;
}

.hovering-item, .current-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px;
  align-items: center;
}

.dropdown {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  overflow-y: scroll;
}

.clipboard-div {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  width: fit-content;
}

.showcase {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.showcase span {
  font-size: 15px;
  margin-left: 15px;
}

.interest-chooser {
  position: absolute;
  z-index: 4;
  width: 800px;
  height: 400px;
  border-radius: 12px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  justify-content: flex-start;
}

.adder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  margin: 10px 8px;
  background-color: #ffffff;
}

.deleter {
  background-color:  red;
  border-radius: 50%;
  width:15px;
  height: 15px;
  position: absolute;
  top: 0; 
  right: 0;
  margin-top: -8px;
  margin-right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.search-interest,.link-url{
  width: 600px;
  height: 40px;
  outline: none;
  border: none;
}

.interest-list {
  list-style-type: none;
  padding: 10px;
  position: absolute;
  background-color: white;
  z-index: 3;
  margin-top: 40px;
  width: 600px;
  height: 300px;
  overflow-y: scroll;
}

.interest-picking {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 2px;
  transition: 0.3s ease all;
  cursor: pointer;
}

.interest-picking:hover{
  background-color: #c5c5c5;
}

.empty-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80px;
}

.empty-links span, .interest-calling {
  font-weight: 600;
}

.creating-card-div, .editing-card-div {
  position: absolute;
  background-color: #ffffff;
  width: 600px;
  height: 60px;
  z-index: 3;
  top: 0;
  margin-top: calc(50vh + 200px + 30px);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: 0.2s ease all;
}

.editing-card-div {
  width: 400px;
}

.editing-card-div h4:first-child {
  margin-right: -50px;
}

.naming-page {
  width: 300px;
  height: 30px;
  outline: none;
  border: none;
  margin-left: -20px;
}

.create-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 80px;
  padding: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease all;
}

.create-button:hover{
  transform: rotate(0.001turn) scale(1.1);
}

.alert-box {
  position: absolute;
  z-index: 4;
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  justify-content: space-around;
}

.alert-box span {
  color: #1c1c1c;
  font-size: 21px;
}

.alert-box button {
  padding: 10px 18px;
  background-color: #5c5bec;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease all;
}

.alert-box button:hover {
  transform: scale(1.1);
}

.projects-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projects-bar span {
  font-weight: 700;
}

.projects-bar a, .edit-button {
  background-color: #7070e9;
  padding: 12px;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.7s ease all;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.projects-bar a:hover, .edit-button:hover{
  color: #7070e9;
  background-color: #ffffff;
  transform: scale(1.05) rotate(0.005turn);;
}

.borders-showcase {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
}

.welcome-div {
  width: 1000px;
  height: 50px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.welcome-div h2 {
  color: white;
}

.welcome-div button, .delete-card {
  background-color: #490000;
  padding:  12px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: 0.5s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}
 
.welcome-div button:hover, .delete-card:hover {
  color: #490000;
  background-color: #ffffff;
  transform: scale(1.05) rotate(0.005turn);;
}

.songs-item {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
  height: 100px;
}

.songs-item img {
  margin-right: 20px;
}

.songs-item .infos {
  height: 100%;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.songs-item .infos span {
  font-size: 25px;
  flex-wrap: nowrap;
}

.song-div {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 15px;
  margin-bottom: 10px;
}

.gif-div {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
}

@media (max-width: 1000px) {
  .card-div {
    width: 90vw;
    height: fit-content;
  }

  .song-div, .gif-div {
    position: relative;
    width: 80vw;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: flex-start;
  }

  .gif-div {
    align-items: center;
  }

  .interest-wrapper{
    margin-bottom: 20px;
    width: 90%;
  }

  .gif-img {
    margin-top: 5px;
  }

  .song-iframe {
    width: 100%;
  }

  .card-title, .card-subtitle, .card-description {
    width: 90%;
    height: fit-content;
    margin-bottom: 20px;
  }

  .card-links { 
    position: relative;
    right: 0;
    margin-right: 30px;
    margin-bottom: 20px;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
  }

  .home-main{
    flex-direction: column;
    width: 100vw;
  }

  .translucent-container {
    width: 100vw;
    flex-direction: column;
    height: 80vh;
  }

  .translucent-container .cards, .translucent-container .texts {
    width: 90vw;
    padding: 0;
    text-align: center;
    align-items: center;
    
  }

  .main-title-first {
    font-size: 10vw;
  }

  .main-title {
    font-size: 8vw;
  }

  .translucent-container .individual-card {
    width: 90vw;
    height: 35vh;
    margin-top: 20px;
  }

  .individual-card .spotify-embed {
    margin-top: 40px;
    z-index: 2;
  }

  .individual-card .links {
    z-index: 1;
  }

  .translucent-container .individual-card-2 {
    display: none;
  }

  .header .search-bar-div {
    display: none;
  }

  .header {
    justify-content: center;
  }

  .welcome-div {
    width: 80vw;
  }

  .projects-wrapper {
    width: 90vw;
    margin-top: 20px;
  }

  .projects {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}